<h2 id="title">Ember HTML Forms</h2>

<ul>
  <li>{{#link-to 'radio-input'}}Radio Input{{/link-to}}</li>
  <li>{{#link-to 'checkbox-input'}}Checkbox Input{{/link-to}}</li>
  <li>{{#link-to 'checkbox-input.many-inputs'}}Many Checkboxes{{/link-to}}</li>
  <li>{{#link-to 'text-input'}}Text Input{{/link-to}}</li>
  <li>{{#link-to 'select-input'}}Select Input{{/link-to}}</li>
</ul>


{{outlet}}
